<div class="row">
  <div class="col-md-6">
    <h2>Add an Activity/Event</h2>

    <form class="form activity">
        <div class="form-activity">
            <label for="title">Title</label>
            <input class="form-input" type="text" id="title" />
        </div>
        <div class="form-activity">
            <label for="description">Description:</label>
            <input class="form-input" type="text" id="description" />
        </div>
        <div class="form-activity">
            <label for="location">Location</label>
            <input class="form-input" type="text" id="location" />
        </div>
        <div class="form-activity">
            <label for="imageURL">ImageURL</label>
            <input class="form-input" type="text" id="imageURL" />
        </div>
        <div class="form-activity">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
  </div>
</div>
